<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addsheets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>
        /* label {
            text-align: center;
            width: 20px;
        } */

        td img {
            width: 80%;
        }

        td btn {
            text-align: center;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="./img/logo1.png" style="width: 150px;" alt=""></a>
            <div class="list-inline mx-auto justify-content-center">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/admin" class="nav-link">Home</a></li>
                    <li class="nav-item"> <a id="rate" class="nav-link">Rate Price</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Services</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Contact</a></li>

                </ul>
            </div>
            <button class="btn btn-outline-warning" style="width: 150px; border: none;"><i
                    class='fas fa-user-circle'></i> Admin</button>

            <button class="btn btn-outline-danger" style="width: 150px; border: none;" id="btnsignout"><i
                    class='fas fa-user-circle'></i>LOG OUT</button>
        </div>
    </nav>

    <div class="container text-center mt-5 ">
        <img src="./img/sheet.png " style="width: 150px;">
        <span style="font-size: 48px;" class="mt-5 p-   "><strong>SHEETS</strong> </span>

        <div class="row">
            <div class="col-12">
                <button id="add" class="btn btn-success float-right mb-3">Add</button>
            </div>
        </div>
        <!-- <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="mytable"></label> -->
        <!-- <table id="mytable" class="table table-striped table-bordered" style="width: 100%">
        </table> -->
        <table class="table table-striped" id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>


        <!-- Modal Edit -->
        <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="formedit" action="/addsheet1" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Sheets</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2" style="text-align: left;">
                                <strong>Add file</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%;">
                                <input type="file" name="addfileUpload" id="cover">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Cover image</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%;">
                                <input type="file" name="addfileUpload" id="cover">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Preview image1</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%; ">
                                <input type="file" name="addfileUpload" id="pre1">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Preview image2</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%; ">
                                <input type="file" name="addfileUpload" id="pre2">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <p class="mt-1" style="text-align: left;"> <strong>SUBJECTS</strong> </p>
                            <input type="text" id="txtdesc1" class="form-control " placeholder="Description">

                            <p class="mt-1" style="text-align: left;"> <strong>SCHOOL</strong> </p>
                            <select name="" id="school1" class="form-control">
                                <option value="1">School of Information Technology</option>
                                <option value="2">School of Liberal Arts</option>
                                <option value="3">School of Science</option>
                                <option value="4">School of Management</option>
                                <option value="5">School of Agro-Industry</option>
                                <option value="6">School of Law</option>
                                <option value="7">School of Cosmetic Science</option>
                                <option value="8">School of Health Science</option>
                                <option value="9">School of Nursing</option>
                                <option value="10">School of Anti-Aging and Regenerative Medicine</option>
                                <option value="11">School of Medicine</option>
                                <option value="12">School of Dentistry</option>
                                <option value="13">School of Social Innovation</option>
                                <option value="14">School of Sinology</option>
                            </select>
                            <p class="mt-1" style="text-align: left;"> <strong>PRICE</strong> </p>
                            <input type="text" id="txtprice1" class="form-control " placeholder="Baht">
                            <p class="mt-1" style="text-align: left;"> <strong>PAGE</strong> </p>
                            <input type="text" id="txtpage1" class="form-control " placeholder="14">


                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="saveedit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Add -->
        <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="formadd" action="/addsheet1" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Sheets</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="my-2" style="text-align: left;">
                                <strong>Add file</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%;">
                                <input type="file" name="addfileUpload" id="cover">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Cover image</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%;">
                                <input type="file" name="addfileUpload" id="cover">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Preview image1</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%; ">
                                <input type="file" name="addfileUpload" id="pre1">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <div class="my-2" style="text-align: left;">
                                <strong>Preview image2</strong>
                            </div>
                            <div class="btn btn-primary btn-sm text-left " style="width: 100%; ">
                                <input type="file" name="addfileUpload" id="pre2">
                                <!-- <label class="custom-file-label" for="inputimge" style="width: 80%;vertical-align: middle;">Choose file</label> -->
                            </div>

                            <p class="mt-1" style="text-align: left;"> <strong>SUBJECTS</strong> </p>
                            <input type="text" id="txtdesc" class="form-control " placeholder="Description">
                            <p class="mt-1" style="text-align: left;"> <strong>SCHOOL</strong> </p>
                            <select name="" id="school" class="form-control">
                                <option value="1">School of Information Technology</option>
                                <option value="2">School of Liberal Arts</option>
                                <option value="3">School of Science</option>
                                <option value="4">School of Management</option>
                                <option value="5">School of Agro-Industry</option>
                                <option value="6">School of Law</option>
                                <option value="7">School of Cosmetic Science</option>
                                <option value="8">School of Health Science</option>
                                <option value="9">School of Nursing</option>
                                <option value="10">School of Anti-Aging and Regenerative Medicine</option>
                                <option value="11">School of Medicine</option>
                                <option value="12">School of Dentistry</option>
                                <option value="13">School of Social Innovation</option>
                                <option value="14">School of Sinology</option>
                            </select>
                            <p class="mt-1" style="text-align: left;"> <strong>PRICE</strong> </p>
                            <input type="text" id="txtprice" class="form-control " placeholder="Baht">
                            <p class="mt-1" style="text-align: left;"> <strong>PAGE</strong> </p>
                            <input type="text" id="txtpage" class="form-control " placeholder="14">


                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="saveadd" class="btn btn-primary" value="Save">
                            <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Delete -->
        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger ">
                        <h5 class="modal-title text-white" style="text-align: center;">DELETE CONFIRMATION</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="OKDelete">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal Rate-->
    <div class="modal fade " id="modalrate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-body">
                <div>
                    <img src="./img/rate.jpg" style="width: 100%; ">
                </div>
            </div>

        </div>
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left" style="background-color: #242424;">
            <div class="row ">
                <div class="col-md-1">

                </div>
                <div class="col-md-4 mt-md-0 mt-3  text-light">
                    <h3 class="text-uppercase mt-3 " id="everyday">EVERY DAY</h3>
                    <h3>08:00- AM - 11:00 PM</h3>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3 ">
                <div class="col-md-5 mb-md-0 mb-3  text-light ">
                    <div class="footercontact mt-3 text-right">
                        <h2 class="text-uppercase ">CONTACT US</h2>
                        <img src="./img/tel.png" style=" width:7%; height: 30% ;"> 085-325-411
                        <img src="./img/fax.png" style=" width:7%; height: 30% ;"> 053-912-040
                        <img src="./img/email.png" style="width:7%; height: 30% ;"> mrcopystaff@gmail.com
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </footer>



    <script>
        $(document).ready(function () {
            var dataSet = [
                {
                    "image": "./img/eng1.jpg",
                    "desc": "English 1 14 Page 14 Baht",

                },
                {
                    "image": "./img/eng2.jpg",
                    "desc": "English 2 17 Page 17 Baht",

                },


            ];

            var table = $("table#mytable").DataTable({
                data: dataSet,
                // "searching": false,
                "paging": false,
                "ordering": false,
                "info": false,
                deferRender: true,
                columns: [

                    {
                        data: 'image',
                        render: function (data, type, full, meta) {
                            return '<img src="' + data + '" no-repeat center center /cover >';
                            // return image ? `<div style=" background-image: url('${data}') no-repeat center center /cover "></div>` : 'No image';
                        }
                    },
                    { data: "desc" },
                    { defaultContent: "<button id='btndelete' class='btn btn-danger'>Delete</button> <button id='edit' class='btn btn-warning'>Edit</button>", orderable: false }
                ],
                responsive: true
            });

            $("#mytable tbody").on('click', '#dowload', function () {
                $("#show").modal("show");
            });

            //<============Edit btn ============>

            $("#mytable tbody").on('click', '#edit', function () {
                // var record = table.row($(this).parents("tr")).data();
                // console.log(record.id);
                // $("#txtID").val(record.id);
                // $("#txtName").val(record.name);
                // $('input:radio[name=gender][value=' + record.gender + ']').prop('checked', true);
                // $("#txtmajor").val(record.major);
                // $("#txtschool").val(record.school);

                $("#modalEdit").modal("show");
            });

            //Save
                $("form#formedit").submit(function () {
                    var id = 1;
                    var description1 = $("#txtdesc1").val();
                    var school1 = $("#school1").val();
                    var price1 = $("#txtprice1").val();
                    var page1 = $("#txtpage1").val();

                    const formData = new FormData(this);
                    var file1 = "";
                    var cover1 = "";
                    var img11 = "";
                    var img21 = "";

                    $.ajax({
                        method: "POST",
                        url: "/addsheet1",
                        data: formData,
                        contentType: false,     //tell jQuery not to add a Content-Type header for us
                        processData: false,      //tell jQuery not to convert the formData object to a string
                        success: function (data, state, xhr) {
                            // $("h3").text(data);
                            file1 = data[0].filename;
                            cover1 = data[1].filename;
                            img11 = data[2].filename;
                            img21 = data[3].filename;
                            alert(file1 + cover1 + img11)
                            // alert("sdffsdf")

                            $.ajax({
                                type: "PUT",
                                url: "/edit/" + id,
                                data: { AS_FILE: file1, AS_IMGCOVER: cover1, AS_IMGVIEW1: img11, AS_IMGVIEW2: img21, AS_DESC: description1, AS_PRICE: price1, AS_PAGE: page1, S_ID: school1 },
                                success: function (data) {
                                    alert(data)
                                }
                            });
                        },
                        error: function (xhr, state, err) {
                            $("h3").text(xhr.responseText);
                        }
                    });
                    $("#modalEdit").modal("hide");
                });

            

            //<============\\\\\============>


            //<============Delete btn ============>

            $("#mytable tbody").on("click", "#btndelete", function () {
                record = table.row($(this).parents("tr")).data();
                $("#Delete").modal("show");
                // alert("asdsad")
                // record.image = dataSet.splice;
                // record.desc = dataSet.splice;
                // $(this).parents("tr").remove();
            });

            $("#OKDelete").click(function () {
                // alert("sfsdf")
                record = table.row($(this).parents("tr")).data();
                $("#Delete").modal("hide");
                // alert("sfsdf")
                record.image = dataSet.splice;
                record.desc = dataSet.splice;
                $(this).parents("tr").remove();

            });

            //<============\\\\\============>



            //<============Add btn ============>

            $("#add").click(function () {
                // check = 0;
                // v = $("#inputimge").val();
                // a = $("#txtAddID").val();
                $("#modalAdd").modal("show");
                // console.log(v + "  " + a)
            });


            $("form#formadd").submit(function () {
                var description = $("#txtdesc").val();
                var school = $("#school").val();
                var price = $("#txtprice").val();
                var page = $("#txtpage").val();

                const formData = new FormData(this);
                var file = "";
                var cover = "";
                var img1 = "";
                var img2 = "";

                $.ajax({
                    method: "POST",
                    url: "/addsheet1",
                    data: formData,
                    contentType: false,     //tell jQuery not to add a Content-Type header for us
                    processData: false,      //tell jQuery not to convert the formData object to a string
                    success: function (data, state, xhr) {
                        // $("h3").text(data);
                        file = data[0].filename;
                        cover = data[1].filename;
                        img1 = data[2].filename;
                        img2 = data[3].filename;
                        alert(file + cover + img1)

                        $.ajax({
                            type: "post",
                            url: "/addsheet",
                            data: { AS_FILE: file, AS_IMGCOVER: cover, AS_IMGVIEW1: img1, AS_IMGVIEW2: img2, AS_DESC: description, AS_PRICE: price, AS_PAGE: page, S_ID: school },
                            success: function (data) {
                                alert(data)
                            }
                        });
                    },
                    error: function (xhr, state, err) {
                        $("h3").text(xhr.responseText);
                    }
                });
                $("#modalAdd").modal("hide");
            });


            $("#btnsignout").click(function (e) {
                window.location.replace("/")
            });

            $("form").submit(function (e) {
                // e.preventDefault();
                const coverimg = $("#cover")

            });
            $("#rate").click(function () {
                $("#modalrate").modal("show");
                // $("#modalAdd").modal("hide");
            })
        });
    </script>
</body>

</html>