<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sheets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <style>
        /* label {
            text-align: center;
            width: 20px;
        } */

        td img {
            width: 70%;
        }

        td btn {
            text-align: center;
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        $(document).ready(function () {
            var dataSet = [
                {
                    "image": "./img/eng1.jpg",
                    "desc": "English 1 14 page 14 baht",

                },
                {
                    "image": "./img/eng2.jpg",
                    "desc": "English 2 17 page 17 baht",

                },

            ];

            // var a = data.id

            var table = $("table#mytable").DataTable({
                data: dataSet,
                // "searching": false,
                "paging": false,
                "ordering": false,
                "info": false,
                deferRender: true,
                columns: [

                    {
                        data: 'image',
                        render: function (data, type, full, meta) {
                            return '<img src="' + data + '" no-repeat center center /cover >';
                            // return image ? `<div style=" background-image: url('${data}') no-repeat center center /cover "></div>` : 'No image';
                        }
                    },
                    { data: "desc" },
                    { defaultContent: "<button id='btnPrint' class='btn btn-success'>Print</button> ", orderable: false },
                    { defaultContent: "<button id='view' class='btn btn-primary'>View</button>", orderable: false }
                ],
                responsive: true
            });

            //<============Edit btn ============>

            $("#mytable tbody").on('click', '#view', function () {
                $("#modalview").modal("show");
            });

            //<============\\\\\============>

            //Print//
            $("#btnPrint").click(function () {
                window.location.replace("/print")

            });

            $("#btnsignout").click(function (e) {
                window.location.replace("/")
            });
            $("#rate").click(function () {
                $("#modalrate").modal("show");
                // $("#modalAdd").modal("hide");
            })
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="./img/logo1.png" style="width: 150px;" alt=""></a>
            <div class="list-inline mx-auto justify-content-center">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/home2" class="nav-link">Home</a></li>
                    <li class="nav-item"> <a id="rate" class="nav-link">Rate Price</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Services</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Contact</a></li>
                    <li class="nav-item"> <a href="/history" class="nav-link">History</a></li>

                </ul>
            </div>
            <button class="btn btn-outline-warning" style="width: 150px; border: none;"><i
                    class='fas fa-user-circle'></i> USER </button>

            <button class="btn btn-outline-danger" style="width: 150px; border: none;" id="btnsignout"><i
                    class='fas fa-user-circle'></i>LOG OUT</button>


        </div>
    </nav>
    <div class="container text-center mt-5">
        <img src="./img/sheet.png " style="width: 150px;">
        <span style="font-size: 48px;" class="mt-5 p-3"><strong>SHEETS</strong> </span>
        <table class="table" id="mytable" style="width:100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th>View</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Modal view -->
    <div class="modal fade" id="modalview" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Example</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./img/ex1.JPG">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/ex2.JPG">
                            </div>
                            <div class="carousel-item">
                                <img src="./img/ex3.JPG">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Dowload</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

        <!-- Modal Rate-->
        <div class="modal fade " id="modalrate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-body">
                    <div>
                        <img src="./img/rate.jpg" style="width: 200%; ">
                    </div>
                </div>

            </div>
        </div>

    </div>





    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left" style="background-color: #242424;">
            <div class="row ">
                <div class="col-md-1">

                </div>
                <div class="col-md-4 mt-md-0 mt-3  text-light">
                    <h3 class="text-uppercase mt-3 " id="everyday">EVERY DAY</h3>
                    <h3>08:00- AM - 11:00 PM</h3>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3 ">
                <div class="col-md-5 mb-md-0 mb-3  text-light ">
                    <div class="footercontact mt-3 text-right">
                        <h2 class="text-uppercase ">CONTACT US</h2>
                        <img src="./img/tel.png" style=" width:7%; height: 30% ;"> 085-325-411
                        <img src="./img/fax.png" style=" width:7%; height: 30% ;"> 053-912-040
                        <img src="./img/email.png" style="width:7%; height: 30% ;"> mrcopystaff@gmail.com
                    </div>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </footer>
</body>

</html>